.bg-light2 {
  background-color: rgb(240, 240, 240);
}

.bg-custom {
  background: linear-gradient(
    -45deg,
    purple,
    #ee7752,
    #e73c7e,
    #23d5ab,
    #23a6d5,
    yellow
  );
  background-size: 400% 400%;
  animation: gradient 30s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  25% {
    background-position: 50% 60%;
  }
  50% {
    background-position: 0% 50%;
  }
  75% {
    background-position: 50% 40%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.custom {
  bottom: 0px;
  cursor: pointer;
  position: relative;
  transition: all 0.3s ease-in-out;
}

.custom:hover {
  bottom: 6px;
}

.mdi {
  font-size: 18px;
}

#search-panel {
  pointer-events: none;
  z-index: 99;
}

#search-panel > * {
  pointer-events: all;
}

#search-list > div:nth-child(even) {
  background-color: rgb(243, 243, 243);
}

#search-list > div:hover {
  background-color: rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.search-img {
  height: 160px;
  width: 100px;
}

#img-cover {
  height: 300px;
  object-fit: cover;
}
